* {
  box-sizing: border-box;
}

body {
  background: #000000;
height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Hidden Items */

.main-container nav .menu-button,
.mobile-menu-items {
  display: none;
}

.main-container {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: top;
  margin: 0 auto;
  padding: 32px;
  color: #ffffff;
  z-index: 2;
  background: #000000;
  transition: all 400ms ease;

  position: relative;
}

.main-container video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
  z-index: 0;
}

.main-container .bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #000000;
  opacity: 0.4;
}

.main-container nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 24px 32px;

  opacity: 0;

  animation: fadeIn 1000ms ease-in-out forwards;
  animation-delay: 1000ms;
}



.main-container nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-container nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
}

.main-container nav ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 1px;
  background: #ffffff;
  transition: all 400ms ease;
}

.main-container nav ul a:hover::after {
  width: 100%;
}

.main-container .hero-section {
  position: relative;
  z-index: 2;
}

.main-container nav .logo img {
  max-width: 60%;
  height: auto;
  margin-left: 0; /* Adjust the initial left margin */
    /* Optionally, you can transition the movement for a smoother effect */
    transition: margin-left 0.3s ease-in-out;
}

.main-container .hero-section h1 {
  font-family: "Trirong", serif;
  font-size: 40px;
  margin-top: 60px;
  margin-left: 20px;
  transform: translateY(15px);
  opacity: 0;

  animation: fadeIn 1000ms ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-container .hero-section p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-top: -30px;
  margin-left: 75px;
  transform: translateY(15px);
  opacity: 0;

  animation: fadeIn 1000ms ease-in-out forwards;
  animation-delay: 400ms;
}

.main-container .hero-section a.btn {
  text-decoration: none;
  border-radius: 25px;
  color: White;
  background: #ff296f;
  padding: 10px 32px;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 400ms ease;
  opacity: 0.9;
  animation: fadeIn 1000ms ease-in-out forwards;
  animation-delay: 1000ms;
}

.main-container .hero-section a.btn:hover {
  background: #ff295f;
}

.main-container .social {
  position: absolute;
  bottom: 60px;
  left: 0;
  padding: 32px;

  opacity: 0;

  animation: fadeIn 500ms ease-in-out forwards;
  animation-delay: 2000ms;
}

.main-container .social a {
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
  margin: 0 16px;
}
.main-container nav .logo a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}
.main-container .social a:first-child {
  margin-left: 0;
}

@media (max-width: 600px) {
  .main-container nav .menu-items {
    display: none;
  }

  .main-container nav .menu-button {
    display: block;
    width: 30px;
    height: 30px;
    transition: all 400ms ease;
  }

  .main-container .hero-section h1 {
    font-size: 23px;
  }

  .main-container .hero-section p {
    font-size: 15px;
    margin-top: -6px;
  }

  .main-container .hero-section a.btn {
    font-size: 14px;
  }

  .main-container.active {
    transform: translateX(-190px) rotateZ(-4deg) scale(1.1);
  }

  .main-container.active nav .menu-button {
    opacity: 0;
  }

  .mobile-menu-items {
    position: fixed;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 190px;
    right: 0;
    top: 0;
    background: #131212;
  }

  .mobile-menu-items ul {
    list-style: none;
    padding-left: 60px;
  }

  .mobile-menu-items ul a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 16px 0;
    display: inline-block;
  }

  .mobile-menu-items .close-button {
    position: fixed;
    width: 32px;
    height: 32px;
    top: 24px;
    right: 32px;
    color: #ffffff;
  }
}


.upper-text {
  text-align: center;
    color: #ffffff;
    font-size: 20px;
     margin-top: -20px;
  font-weight: bold;
  opacity:0.9;
}

.middle-text {
  text-align: center;
    color: #ffffff;
    font-size: 15px;
     margin-top: -20px;
  font-weight: italic;
  opacity:0.6;
}

/* Full-width input fields */
input[name=number], [type=tel], input[type=password] {
  width: 100%;
border-radius: 25px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  opacity:0.7;
}

input[name=number]:focus, [type=tel]:focus, input[type=password]:focus
  {
  background-color: #dddddd;
  outline: none;
    opacity:0.5;
}



/* Float cancel and signup buttons and add an equal width */
 .signupbtn {
  float: left;
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 0px;
}


/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
     width: 100%;
  }
}
  
    .containersuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.success-message {
  text-align: center;
  font-weight: bold;
  opacity: 0.9;
}

.main-container .hero-section .button-container{
  position: relative;
  z-index: 2;
  display: flex;/* Aligns items in a row */
  flex-direction: column; /* Stack the children (buttons) vertically */
  align-items: center; /* Center the buttons horizontally */
  /* Add some padding around the container */
   justify-content: space-between;  /* Spaces the buttons evenly */
}

  button {
    font-family: "Times New Roman", Times, serif;
    background-color: #ffffff; /* sm pink background */
    border: 2px solid #ff296f;
    color: black;
    padding: 10px 10px; /* Vertical and horizontal padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px; /* Spacing between buttons */
    cursor: pointer;
    border-radius: 50px; /* Makes the buttons oval */
    width: 280px; /* Set the width */
  height: 50px; /* Set the height */
  }

 button:hover {
  background: #ff295f;
   border: 2px solid #ffffff;
   color: white;
  cursor: pointer;
}

#message {
  font-family: "Times New Roman", Times, serif;
    text-align: center; /* Centers the text horizontally */
    width: 100%; /* Ensures the div takes full width */
    margin-top: 20px; /* Adds space above the message */
  }


